<mat-card>
  <form
    [formGroup]="form"
    class="form"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="form__title">Увійти до системи</h2>
    <mat-form-field class="form__row">
      <mat-label>Логін</mat-label>
      <input
        matInput
        formControlName="login"
        placeholder="Логін"
      >
      <mat-error *ngIf="form.get('login').invalid && form.get('password').touched">
        <mat-error *ngIf="form.get('login').errors['required']">Логин не повинен бути порожнім</mat-error>
        <!-- <mat-error *ngIf="form.get('login').errors['login']">Введіть коректний email адресу</mat-error> -->
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__row">
      <mat-label>Пароль</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Пароль"
      >
      <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
        <mat-error *ngIf="form.get('password').errors['required']">Пароль не повинен бути порожнім</mat-error>
        <mat-error
          *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
          Пароль повинен бути менше {{form.get('password').errors['minlength']['requiredLength']}} символів.
          Зараз {{form.get('password').errors['minlength']['actualLength']}}.
        </mat-error>
      </mat-error>
    </mat-form-field>

    <div class="form__btn">
      <button
        type="submit"
        [disabled]="form.invalid || form.disabled"
        mat-raised-button
        color="primary"
      >
        Увійти
      </button>
    </div>

  </form>
</mat-card>
