<ul class="menu">
  <li class="menu__item"
      *ngFor="let item of menu"
      (click)="showChildren($event, item)"
      [class.active]="item.active"
  >
    <div class="menu__link">
      <span class="menu__icon">
        <svg-icon-sprite
          [src]="'assets/sprites/sprite.svg#'+item.icon"
          [width]="'15px'"
          class="menu__svg"
        ></svg-icon-sprite>
      </span>

      {{ item.title }}

      <span class="menu__arrow" *ngIf="item.children">
        <svg-icon-sprite
          [src]="'assets/sprites/sprite.svg#arrow-down'"
          [viewBox]="'0 0 30 30'"
          style="color: #ffffff"
        ></svg-icon-sprite>
<!--        <img src="/assets/icons/arrow-down.svg">-->
      </span>
    </div>

    <ng-container *ngIf="item.children">
      <app-menu [menu]="item.children"></app-menu>
    </ng-container>
  </li>
</ul>

<!--<mat-nav-list>-->
<!--  <mat-list-item *ngFor="let item of menu">-->
<!--    <a matLine>{{ item.title }}</a>-->
<!--    <svg-icon-sprite-->
<!--      [src]="'assets/sprites/sprite.svg#arrow-down'"-->
<!--      [width]="'20px'"-->
<!--      [viewBox]="'0 0 30 30'"-->
<!--      style="color: #ffffff"-->
<!--    ></svg-icon-sprite>-->
<!--&lt;!&ndash;    <ng-container *ngIf="item.children">&ndash;&gt;-->
<!--&lt;!&ndash;      <app-menu [menu]="item.children"></app-menu>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--  </mat-list-item>-->
<!--</mat-nav-list>-->
