.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label, ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline, ::ng-deep .mat-focused .mat-form-field-ripple {
    background-color: white;
  }
  ::ng-deep .mat-form-field-placeholder, ::ng-deep .mat-focused .mat-form-field-placeholder {
    color: white;
  }
  .mat-input-element, .mat-input-element::placeholder {
    color: white;
  }
}

.search {
  margin-right: 20px;
}

