$themes: (
  light: (
    primary: #3f51b5,
    backgroundColor: #fafafa,
    primaryTextColor: #212121,
    secondaryTextColor: #ffffff
  ),
  dark: (
    primary: #e91e63,
    backgroundColor: #303030,
    primaryTextColor: #ffffff,
    secondaryTextColor: #ffffff
),
);
